.home {
    height: 100vh;
}
.navbar {
    height: 100px;
    background-color: grey;
}
.home-body {

}
.footer {
    height: 100px;
    background-color: grey;
}
.add-review-btn {
    background-color: rgba(100,88,244,255) !important;
    color: aliceblue !important;
}