.navbar {
    height: 100px;
    color: rgba(25,25,25,0.8);
    background-color: rgba(207,217,224,255);
}
.add-movie-btn {
    background-color: white !important;
    border: 2px solid rgba(100,88,244,255) !important;
    color: rgba(100,88,244,255) !important;
}
.add-review-btn {
    background-color: rgba(100,88,244,255) !important;
    color: aliceblue !important;
}
.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
